<th:block th:include="user/fragments/header"></th:block>

<main>
	<!-- Hero Area Start-->
	<div class="slider-area ">
		<div class="single-slider slider-height2 d-flex align-items-center">
			<div class="container">
				<div class="row">
					<div class="col-xl-12">
						<div class="hero-cap text-center">
							<h2>Cart List</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--================Cart Area =================-->
	<section class="cart_area section_padding" id="cart_part">
		<div class="container">
			<div class="cart_inner">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col" class="th-1"></th>
								<th scope="col" class="th-2"></th>
								<th scope="col">Product</th>
								<th scope="col">Price</th>
								<th scope="col">Quantity</th>
								<th scope="col">Total</th>
							</tr>
						</thead>
						<tbody id="viewCartFragment">
							<tr th:each="detail, i : ${session.currentCart.details}">
								<td class="td-1">
									<h5 th:text="${i.index + 1}"></h5>
								</td>
								<td class="td-2">
									<a title="Remove this item" class="remove"
										th:attr="onclick='removeProduct(\'' + ${detail.key} +'\')'">×</a>
								</td>
								<td>
									<a th:href="@{'product-details/' + ${detail.value.slug}}" class="media">
										<div class="d-flex">
											<img th:src="@{'/user/assets/img/gallery/' + ${detail.value.imgUrl}}" alt="" />
										</div>
										<div class="media-body">
											<p th:text="${detail.value.name}"></p>
										</div>
									</a>
								</td>
								<td>
									<h5 th:text="${'$' + detail.value.price}"></h5>
								</td>
								<td>
									<div class="product_count">
										<input class="input-number" type="number" min="0" max="10"
											th:value="${detail.value.quantity}" 
											th:attr="onchange='updateProduct(\'' + ${detail.key} +'\')'" 
											th:id="quantity + ${detail.key}">
									</div>
								</td>
								<td>
									<h5 th:text="${'$' + #numbers.formatDecimal(detail.value.price * detail.value.quantity, 0, 2)}"></h5>
								</td>
							</tr>
							<tr class="bottom_button">
								<td colspan="3">
									<a class="btn_1" href="#/" onclick="callApiRefreshCart()">Update Cart</a>
								</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td>
									<h5>Subtotal</h5>
								</td>
								<td>
									<h5 th:text="${session.currentCart.totalPrice}"></h5>
								</td>
							</tr>
							<tr class="shipping_area">
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td>
									<div class="shipping_box">
										<input class="post_code" id="phone_number" type="text" placeholder="Phone number" />
										<input class="post_code" id="address" type="text" placeholder="Address" />
										<p style="color: #ff3333" id="error_phoneAndAddress"></p>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="checkout_btn_inner float-right">
						<a class="btn_1" th:href=@{shop}>Continue Shopping</a>
						<a class="btn_1 checkout_btn_1" href="#"
							th:attr="onclick='checkout()'">Proceed to checkout</a>
					</div>
				</div>
			</div>
	</section>
	<!--================End Cart Area =================-->
</main>

<script>
	function removeProduct(productId) {
		var url = '/cart/update?productId=' + productId + '&quantity=0&isReplace=true';
		$.get(url).done(function(data) {
			$('#viewCartFragment').replaceWith(data);
			callApiRefreshCart();
		});
	}
	
	function updateProduct(productId) {
		var idInput = '#quantity' + productId;
		var newQuantity = $(idInput).val();
		var url = '/cart/update?productId=' + productId + '&quantity=' + newQuantity + '&isReplace=true';
		$.get(url).done(function(data) {
			$('#viewCartFragment').replaceWith(data);
			callApiRefreshCart();
		});
	}
	
	function callApiRefreshCart() {
		$.ajax({
			url: '/api/cart/refresh',
			type: 'GET',
			dataType: 'json',
			success: function(data) {
				$('#headerTotalQuantity').text(data.totalQuantity);
			},
			error: function(data) {
				
			}
		});
	}
	
	function checkout() {
		var address = $('#address').val();
		var phone = $('#phone_number').val();
		var endpoint = '/api/cart/checkout?address=' + address + '&phone=' + phone;
		
		$.ajax({
			url: endpoint,
			type: 'GET',
			statusCode: {
				200: handle200,
				400: handle400,
				401: handle401,
				404: handle404,
				406: handle406
			}
		});
	}
	
	function handle200() {
		alert('Your payment was created successfully');
		window.location.href = '/shop';
	}
	
	function handle400() {
		alert('Checkout failed, try again');
	}
	
	function handle401() {
		alert('Please login before checkout');
		window.location.href = '/login';
	}
	
	function handle404() {
		$('#error_phoneAndAddress').text('Please complete all information');
		$('#phone_number').focus();
	}

	function handle406() {
		alert('The quantity purchased is more than the quantity in stock');
	}
	
	function loadPage() {
		$('html, body').animate({
			scrollTop : $("#cart_part").offset().top + (-100)
		}, 1000);
	}
	window.onload = loadPage;
</script>

<th:block th:include="user/fragments/footer"></th:block>