<th:block th:include="user/fragments/header"></th:block>

<main>
	<!-- Hero Area Start-->
	<div class="slider-area ">
		<div class="single-slider slider-height2 d-flex align-items-center">
			<div class="container">
				<div class="row">
					<div class="col-xl-12">
						<div class="hero-cap text-center">
							<h2>Reset Password</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Hero Area End-->
	<!--================login_part Area =================-->
	<section class="login_part section_padding" id="forgotpassword_part">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 col-md-6">
					<div class="login_part_text text-center">
						<div class="login_part_text_iner">
							<h2>Create a new password</h2>
							<p>There are advances being made in science and technology
								everyday, and a good example of this is the</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="login_part_form">
						<div class="login_part_form_iner">
							<h3>Hi ! <br>
								Let reset your password</h3>
							<form class="row contact_form" th:action="@{/reset-password}"
								name="myForm" th:onsubmit="return validateForm()" method="post"
								novalidate="novalidate">
								<div class="col-md-12 form-group p_star">
									<input type="password" class="form-control" id="password" name="password" value=""
										placeholder="New password" autofocus>
								</div>
								<div class="col-md-12 form-group p_star">
									<input type="password" class="form-control" id="confirmPassword" name="confirmPassword" value=""
										placeholder="Confirm password">
								</div>
								<p style="color: #ff3333" id="error_password"></p>
								<div class="col-md-12 form-group">
									<button type="submit" value="submit" class="btn_3">
										Change
									</button>
								</div>
								<input type="hidden" id="token" name="token" th:value="${token}">
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================login_part end =================-->
	<input type="hidden" id="change" th:value="${change != null ? 'true' : 'false'}">
</main>

<script>
function validateForm() {
	const password = $('#password').val();
	const confirmPassword = $('#confirmPassword').val();
	const $result = $('#error_password');
	let check = true;
	if (password == "" || confirmPassword == ""){
		$result.text('Password can not be blank!');
	    check = false;
	} else if (password != confirmPassword) {
	    $result.text('Confirmation is not correct!');
	    check = false;
	}
    
    return check;
}

	function loadPage() {
		$('html, body').animate({
			scrollTop : $("#forgotpassword_part").offset().top + (-100)
		}, 1000);
		const change = $('#change').val();
		if(change == 'true') {
			alert('You have had successfully changed your password.');
			window.location.href = "/login";
		}
	}
	window.onload = loadPage;
</script>

<th:block th:include="user/fragments/footer"></th:block>